@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500;600;700&display=swap');
:root{
    --primary-color:#20232a;
    --secondary-color:#FFF;
    --navbar-height: 80px;
    --text-primary-color: #20232a;
    --text-secondary-color: #FFF;
    --background-color-hover: rgba(0,0,0,0.05);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    line-height:1.6;
    font-family: 'Arimo', sans-serif;
}

a{
    text-decoration: none ;
}

ul{
    list-style: none;
}


h1, h2, h3, h4, h5,h6 {
    font-weight: 600;
}

.dashBoardWrapper{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    padding: 0 18px;
}

