.list{
    background-color:var(--primary-color);
    padding: 0 30px;
    flex:1;
}
.items{
    display: inline-block;
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}

.links{
    display: block;
    padding: 0 30px;
    color: var(--text-secondary-color);
    height: 100%;
    font-size:20px;
    margin-right: 10px;
    font-weight:600;
}

.links:hover{
    background-color:var(--text-secondary-color);
    color: var(--text-primary-color);
    box-shadow: 0 5px 10px white;
}